$align: left;
$bg-color: rgb(13, 184, 218);
$color-01: rgb(199, 0, 103);
$color-02: rgb(238, 120, 12);
$color-03: rgb(244, 228, 83);
$color-04: rgb(22, 20, 15);
$color-default: #444;
$font-big: 2.5rem;
$font-medium: 2rem;
$font-family-default: Arial, Helvetica, sans-serif;
$font-normal: 1.8rem;
$font-small: 1.2rem;
$mb: 2rem;
$mt: 1rem;
$mt-02: 2rem;